NODE_ENV=
DB_URL=
BCRYPT_SALTROUNDS=
# next-auth
NEXTAUTH_SECRET=
# track user number, max at this route:
USER_COUNT_CHECKPOINT=
# africastalking
AFRICASTALKING_USERNAME=
AFRICASTALKING_KEY=
ADMIN_TEL=
# nodemailer
GMAIL_ACCOUNT_USER=
GMAIL_APP_KEY=
GMAIL_ACCOUNT_FROM=
GMAIL_ACCOUNT_TO=
NOTIFY_CHANNELS=
